In [1]:
import requests
import pandas as pd

from bs4 import BeautifulSoup

In [2]:
yyyymm = "202202"
no_court = 1

url = "https://www.hanam.go.kr/www/selectMisaParkResveWeb.do?key=4062&yyyymm={}&misaParkCode=TS0{}&listType=D#n".format(yyyymm, no_court)

response = requests.get(url)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    # print(soup)

else: 
    print(response.status_code)

In [3]:
tb_html = soup.find('table',{'class' : 'p-table'})

In [4]:
tb_html = str(tb_html)

In [6]:
table_df_list = pd.read_html(tb_html)

In [7]:
table_df = table_df_list[0]

In [11]:
table_df.head()

              일자              이용시간 예약단체  신청하기
0  2022-02-01(화)  1 회06:00 ~ 08:00  NaN  신청불가
1  2022-02-01(화)  2 회08:00 ~ 10:00  NaN  신청불가
2  2022-02-01(화)  3 회10:00 ~ 12:00  NaN  신청불가
3  2022-02-01(화)  4 회12:00 ~ 14:00  NaN  신청불가
4  2022-02-01(화)  5 회14:00 ~ 16:00  NaN  신청불가

In [16]:
table_df['이용시간'] = table_df['이용시간'].apply(lambda x: x.split("회")[1])

In [22]:
table_df['요일'] = table_df['일자'].apply(lambda x: x[-2])
table_df['일자'] = table_df['일자'].apply(lambda x: x[0:10])

In [24]:
table_df['코트번호'] = no_court

In [29]:
df_dict = {str(no_court)+'코트' : table_df}